<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Introduction" data-toc-modified-id="Introduction-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Introduction</a></span></li><li><span><a href="#Objectives" data-toc-modified-id="Objectives-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Objectives</a></span></li><li><span><a href="#Disclaimer" data-toc-modified-id="Disclaimer-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Disclaimer</a></span></li><li><span><a href="#System-Setup" data-toc-modified-id="System-Setup-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>System Setup</a></span><ul class="toc-item"><li><span><a href="#Installing-Spyder" data-toc-modified-id="Installing-Spyder-4.1"><span class="toc-item-num">4.1&nbsp;&nbsp;</span>Installing Spyder</a></span></li></ul></li><li><span><a href="#Navigating-within-Spyder" data-toc-modified-id="Navigating-within-Spyder-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>Navigating within Spyder</a></span><ul class="toc-item"><li><span><a href="#Useful-shortcuts-in-Spyder" data-toc-modified-id="Useful-shortcuts-in-Spyder-5.1"><span class="toc-item-num">5.1&nbsp;&nbsp;</span>Useful shortcuts in Spyder</a></span></li></ul></li><li><span><a href="#Getting-started" data-toc-modified-id="Getting-started-6"><span class="toc-item-num">6&nbsp;&nbsp;</span>Getting started</a></span><ul class="toc-item"><li><span><a href="#print()" data-toc-modified-id="print()-6.1"><span class="toc-item-num">6.1&nbsp;&nbsp;</span><code>print()</code></a></span></li><li><span><a href="#Variable-assignment" data-toc-modified-id="Variable-assignment-6.2"><span class="toc-item-num">6.2&nbsp;&nbsp;</span>Variable assignment</a></span></li><li><span><a href="#Comments" data-toc-modified-id="Comments-6.3"><span class="toc-item-num">6.3&nbsp;&nbsp;</span>Comments</a></span></li></ul></li><li><span><a href="#Commonly-used-variable-types-(officially:-data-types)" data-toc-modified-id="Commonly-used-variable-types-(officially:-data-types)-7"><span class="toc-item-num">7&nbsp;&nbsp;</span>Commonly used variable types (officially: data types)</a></span><ul class="toc-item"><li><span><a href="#Some-basic-data-types-" data-toc-modified-id="Some-basic-data-types--7.1"><span class="toc-item-num">7.1&nbsp;&nbsp;</span>Some basic data types <a name="ch2.1"></a></a></span><ul class="toc-item"><li><span><a href="#integer-(int)" data-toc-modified-id="integer-(int)-7.1.1"><span class="toc-item-num">7.1.1&nbsp;&nbsp;</span>integer (int)</a></span></li><li><span><a href="#strings-(str)" data-toc-modified-id="strings-(str)-7.1.2"><span class="toc-item-num">7.1.2&nbsp;&nbsp;</span>strings (str)</a></span></li><li><span><a href="#floating-point-numbers-(float)" data-toc-modified-id="floating-point-numbers-(float)-7.1.3"><span class="toc-item-num">7.1.3&nbsp;&nbsp;</span>floating point numbers (float)</a></span></li><li><span><a href="#booleans-(bool)" data-toc-modified-id="booleans-(bool)-7.1.4"><span class="toc-item-num">7.1.4&nbsp;&nbsp;</span>booleans (bool)</a></span></li></ul></li><li><span><a href="#Type-conversion" data-toc-modified-id="Type-conversion-7.2"><span class="toc-item-num">7.2&nbsp;&nbsp;</span>Type conversion</a></span></li></ul></li><li><span><a href="#Lists-and-dictionaries" data-toc-modified-id="Lists-and-dictionaries-8"><span class="toc-item-num">8&nbsp;&nbsp;</span>Lists and dictionaries</a></span><ul class="toc-item"><li><span><a href="#list" data-toc-modified-id="list-8.1"><span class="toc-item-num">8.1&nbsp;&nbsp;</span>list</a></span></li><li><span><a href="#dictionary-(dict)" data-toc-modified-id="dictionary-(dict)-8.2"><span class="toc-item-num">8.2&nbsp;&nbsp;</span>dictionary (dict)</a></span></li></ul></li><li><span><a href="#Notes-on-doing-basic-maths" data-toc-modified-id="Notes-on-doing-basic-maths-9"><span class="toc-item-num">9&nbsp;&nbsp;</span>Notes on doing basic maths</a></span></li><li><span><a href="#Basic-string-manipulation" data-toc-modified-id="Basic-string-manipulation-10"><span class="toc-item-num">10&nbsp;&nbsp;</span>Basic string manipulation</a></span><ul class="toc-item"><li><span><a href="#Empty-string" data-toc-modified-id="Empty-string-10.1"><span class="toc-item-num">10.1&nbsp;&nbsp;</span>Empty string</a></span></li><li><span><a href="#Concatenation" data-toc-modified-id="Concatenation-10.2"><span class="toc-item-num">10.2&nbsp;&nbsp;</span>Concatenation</a></span></li><li><span><a href="#Substring-using-slice" data-toc-modified-id="Substring-using-slice-10.3"><span class="toc-item-num">10.3&nbsp;&nbsp;</span>Substring using slice</a></span></li><li><span><a href="#.append()" data-toc-modified-id=".append()-10.4"><span class="toc-item-num">10.4&nbsp;&nbsp;</span><del><code>.append()</code></del></a></span></li><li><span><a href="#.split()" data-toc-modified-id=".split()-10.5"><span class="toc-item-num">10.5&nbsp;&nbsp;</span><code>.split()</code></a></span></li></ul></li><li><span><a href="#Simple-custom-functions" data-toc-modified-id="Simple-custom-functions-11"><span class="toc-item-num">11&nbsp;&nbsp;</span>Simple custom functions</a></span></li><li><span><a href="#For-loop" data-toc-modified-id="For-loop-12"><span class="toc-item-num">12&nbsp;&nbsp;</span>For loop</a></span><ul class="toc-item"><li><span><a href="#range()" data-toc-modified-id="range()-12.1"><span class="toc-item-num">12.1&nbsp;&nbsp;</span><code>range()</code></a></span></li><li><span><a href="#Nested-for-loops" data-toc-modified-id="Nested-for-loops-12.2"><span class="toc-item-num">12.2&nbsp;&nbsp;</span>Nested for loops</a></span></li></ul></li><li><span><a href="#If-else-statements-(optional-material)" data-toc-modified-id="If-else-statements-(optional-material)-13"><span class="toc-item-num">13&nbsp;&nbsp;</span>If else statements (optional material)</a></span><ul class="toc-item"><li><span><a href="#Comparison-operators" data-toc-modified-id="Comparison-operators-13.1"><span class="toc-item-num">13.1&nbsp;&nbsp;</span>Comparison operators</a></span></li><li><span><a href="#Logical-operators" data-toc-modified-id="Logical-operators-13.2"><span class="toc-item-num">13.2&nbsp;&nbsp;</span>Logical operators</a></span></li><li><span><a href="#If-else-examples" data-toc-modified-id="If-else-examples-13.3"><span class="toc-item-num">13.3&nbsp;&nbsp;</span>If else examples</a></span></li></ul></li><li><span><a href="#A-superficial-introduction-to-the-concept-of-Object-Oriented-Programming-(OOP)" data-toc-modified-id="A-superficial-introduction-to-the-concept-of-Object-Oriented-Programming-(OOP)-14"><span class="toc-item-num">14&nbsp;&nbsp;</span>A superficial introduction to the concept of Object-Oriented Programming (OOP)</a></span></li><li><span><a href="#Final-remarks-(that-we-cannot-cover-today)" data-toc-modified-id="Final-remarks-(that-we-cannot-cover-today)-15"><span class="toc-item-num">15&nbsp;&nbsp;</span>Final remarks (that we cannot cover today)</a></span></li></ul></div>

# Introduction
In this workshop we will cover the basic elements of programming in Python. Only materials that are absolutely essential to understanding and programming the OT-2 API will be covered. This workshop is intended for people with little to no programming experience.

# Objectives

By the end of this workshop, we hope participants are able to:

1. Set up an IDE for coding in Python, and put to use the features that faciliate coding and debugging.
2. Understand the common data types in Python and when to use which.
3. Perform simple calculations and modify strings.
4. Understand the concept of function and where to check their arguments.
5. Write for loops to automatically repeat blocks of codes.
6. Understand superficially the concept of Object-Oriented Programming.
7. Make use of knowledge of points 2-5 above to solve practical issues in using the OT-2.

# Disclaimer
I have limited experience in programming and received little formal training. Coding practices may be unorthodox and even heretic in the eyes of properly trained programmers.

The information that we will go over is filtered specifically for understanding the OT-2 API. Many other useful functions are omitted simply because they are non-essential from the API's perspective. Those who wish to make the full use of Python + the robot would benefit greatly by attending Python courses offered by the Software Capentry in the University of Edinburgh or by the Edinburgh Genomics.

Please forgive my ocassional loss of professionalism in language.

# System Setup

 
## Installing Spyder
It is best to make use of an Integrated Development Environment (IDE) when writing codes. My personal experience suggests that  Spyder is most friendly to Python beginners and its Variable Explorer is tremendously helpful, both in debugging and in understanding how the code works.

The relatively fool-proof way to get Spyder is to download and install [Anaconda](https://www.anaconda.com/distribution/).

*Note: I strongly recommend you NOT to install the app Kite. It does more harm than good in my experience*

From time to time you might need to upgrade your IDE or your packages. To do so, type `conda update --all` inside the Spyder IPython console, or follow the [instructions](https://www.anaconda.com/keeping-anaconda-date/) from Anaconda.

# Navigating within Spyder

![SpyderInterface](images/Spyder_interface.png)

## Useful shortcuts in Spyder
1. F5 = Run entire script
2. Ctrl/Cmd + Return/Enter = Run cell
3. Ctrl/Cmd + 1 = Comment/De-comment

**Cells are partitioned by the comment `#%%` in the Spyder Editor.**

# Getting started

## `print()`

The `print()` function is your best friend. You get to know what's going on by asking the computer to show you what you are interested.

In [1]:
print("Hello World")

Hello World

## Variable assignment
The equal sign `=` in almost all programming languages denote an assignment of value to a variable.

In [2]:
a = 1000
print(a)

1000

In [3]:
b = "OT-2"
print(b)

OT-2

Double assignment allows two assignments in a single line.  
You can also do triple or mulitple assignments.

In [4]:
a, b = 1000, "OT-2"
print(a)
print(b)

1000
OT-2

Note that if you don't do an assignment in the line, the console will give the output directly.

In [5]:
a

1000

In [6]:
b

'OT-2'

## Comments
Comments are your explanations of what the code does. It helps other people to understand what you are trying to do, and helps you remember why you code in a particular way. The following example is just an illustration. Comments for self-explanatory codes are redundant.

In [7]:
# This code calculate Fluorescence / OD
fluo = 5000
od = 2.0
fluo_OD = fluo / od
print(fluo_OD)

2500.0

In [8]:
# # !"£$%^&*()_+"     * Note that once you have a hashtag, whatever that comes afterwards are all comments.
# You have to start a new line without a hashtag to resume coding
fluo

5000

One useful thing to do with comments is to "comment-out" a section of the code, that is, not run that part only.

In [9]:
a = 1000
b = 200
a = a/b
print("Without using comment-out:")
print(a)

Without using comment-out:
5.0

In [10]:
a = 1000
b = 200
# a = a/b
print("Using comment-out:")
print(a)

Using comment-out:
1000

# Commonly used variable types (officially: data types)

## Some basic data types <a name="ch2.1"></a>
### integer (int)

In [11]:
var_int = 4000
print(var_int)
print(type(var_int))

4000
<class 'int'>

### strings (str)
for texts and characters

In [12]:
var_str = "OT-2"
print(var_str)
print(type(var_str))

OT-2
<class 'str'>

### floating point numbers (float)
In an over-simplified sense, any other number that carries decimal points

In [13]:
var_float = 10123598.8562545
print(var_float)
print(type(var_float))

10123598.8562545
<class 'float'>

### booleans (bool)
Only takes True or False, equivalent to 1 or 0.

In [14]:
var_bool1 = True
var_bool2 = False
print(var_bool1)
print(var_bool2)
print(type(var_bool1))

True
False
<class 'bool'>

It is also possible to infer the type of the variable in the console by calling it directly

In [15]:
var_int

4000

In [16]:
var_str

'OT-2'

In [17]:
var_float

10123598.8562545

In [18]:
var_bool1

True

## Type conversion
In some cases it is useful to convert string into numbers, and vice versa

In [19]:
str(89006542)

'89006542'

In [20]:
int('85678')

85678

If you string contains alphabets, conversion to an int or float will fail

In [21]:
int('A1')

ValueError: invalid literal for int() with base 10: 'A1'

Conversion of a float in string format to int is also prohibited

In [22]:
float('85.67')

85.67

In [23]:
int('85.67')

ValueError: invalid literal for int() with base 10: '85.67'

Conversion of float to int will remove the digits behind the decimal point

In [24]:
int(1000.786)

1000

# Lists and dictionaries

If you do a PCR and only have one sample you use a single PCR tube. If you deal with 7-8 samples that are ordered you use PCR tube strips. If you have hundreds of samples you use 96-well or 384-well plates. The key point is that your sample locations are **indexed**. You do the same in programming.

## list
A list is equivalent to PCR tube strips, just that they have (nearly) infinite length. You label one strip with one name.  

Items are delimited by a comma.

In [25]:
var_list = [1, 2, 3, 4, 5, 6]
var_list

[1, 2, 3, 4, 5, 6]

To create an empty list, just leave it empty but with brackets

In [26]:
var_list = []
var_list

[]

You can literally put anything inside a list

In [27]:
a = 10
var_list = [1, a, 100, 'text', True] # A mix of int, var, str, and bool
var_list

[1, 10, 100, 'text', True]

You can put a list inside a list

In [28]:
list1 = [5, 6, 7]
list2 = [1, 2 , 3, list1]
list2

[1, 2, 3, [5, 6, 7]]

If you have a long list, you can arrange them vertically in the code.  
Ending a list with a comma is fine.

In [29]:
int_list = [
    1005719631856,
    5746381643542,
    8434216572496,
    2491294949454,
    21975214621121,
    1964943136274,
    1984249121000,
    149219542792464,
]
int_list

[1005719631856,
 5746381643542,
 8434216572496,
 2491294949454,
 21975214621121,
 1964943136274,
 1984249121000,
 149219542792464]

All items inside a list has an index for retrieving the item. A list is ordered - the item order is preserved when the list is called.
Using the example of `var_list`:  

| index | item |
|-----|----|
|0|1|
|1|10|
|2|100|
|3|'text'|
|4|True|

This allows you to get retrieve specific items from the list using the `[]` notation.  

**Note that the first item of a list has the index of 0, not 1. Think of a list as a building and index 0 is the "Ground Floor".**

In [30]:
var_list[0]

1

In [31]:
var_list[3]

'text'

To replace an item in the list, reassign it.  
Let's replace the 'text' item with index=3 to '1000'

In [32]:
var_list[3] = 1000
var_list

[1, 10, 100, 1000, True]

Trying to call the an item beyond indicies that correspond to an item will lead to an `IndexError`.
If you see this error, you must be counting the list wrong.

In [33]:
var_list[5]

IndexError: list index out of range

Counting backwards? 2nd item from the end of the list? Put a minus symbol `-` before your index `1`

In [34]:
var_list[-2]

1000

Slice a list by using the "slice operator" `:`

In [35]:
# Get items from index = 2 till the end of sequence
var_list[2:]

[100, 1000, True]

In [36]:
# Get items from the beginning till item of index = 2
# In other words, var_list[:3] is equivalent to var_list[0:3]
var_list[:3]

[1, 10, 100]

In [37]:
var_list[3:5]

[1000, True]

**Take note! `[3:5]` actually gives items from index=0 to index=2. So it is actually getting item_of_start_index to item_of_(end_index - 1) !**

Combining a negative index with the splice operator allows you to get multiple items from the end of the list

In [38]:
var_list[-3:]

[100, 1000, True]

***Beware that when couting backwards, the last item has an index of -1, not -0.**

To get the length of the list, use the `len()` function, with the list as the input argument

In [39]:
len(var_list)

5

To add items to a list (aka. grow a list), use the `list.append()` function

In [40]:
item_to_add = 'new'
var_list.append(item_to_add)
var_list

[1, 10, 100, 1000, True, 'new']

In [41]:
# The list should now have a length of 6 instead of 5
len(var_list)

6

To concatenate two or more lists, simply use the `+` operator

In [42]:
list1 = [1, 2, 3] 
list2 = [4, 5, 6]
list3 = [7, 8, 9]
long_list = list1 + list2 + list3
long_list

[1, 2, 3, 4, 5, 6, 7, 8, 9]

## dictionary (dict)
A dictionary can be understood as a list with unique "name tags" to every item it stores.
While a list is denoted by square brackets, a dictionary is denoted by curly brackets.

In [43]:
chores = {'Monday': "Clean gel tank",
            'Tuesday': "Autoclave tips",
            'Wednesday': "Clear bins"
           }
chores

{'Monday': 'Clean gel tank',
 'Tuesday': 'Autoclave tips',
 'Wednesday': 'Clear bins'}

Items are retreived in a similar way as lists, just that there are no indicies but only "name-tags", which are called **keys**.

In [44]:
chores['Monday']

'Clean gel tank'

If you try to call a key that is absent from the dictionary, you will get an error

In [45]:
chores['Sunday']

KeyError: 'Sunday'

To avoid running into error, use the `dict.get(key)` function

In [46]:
print(chores.get('Monday'))

Clean gel tank

In [47]:
print(chores.get('Sunday'))

None

Now, the reason why it is called a dictionary, is that like a dictionary, you can't have two entries of the same word.  
If you insist on doing so, the most recent assignment will overwrite the previously assigned key.

In [48]:
# Note how the first definition becomes "erased" in the output

var_dict = {
    'table': "a piece of furniture with a flat top and one or more legs (Google def 1)",
    'table': "a set of facts or figures systematically displayed, especially in columns (Google def 2)"
}
var_dict

{'table': 'a set of facts or figures systematically displayed, especially in columns (Google def 2)'}

To create an empty dictionary, put nothing inside the curly brakets

In [49]:
null_dict = {}
null_dict

{}

To add a `key: item` pair to a dictionary, just assign it to a new key

In [50]:
chores['Thursday'] = "Refill MilliQ water tank"
chores

{'Monday': 'Clean gel tank',
 'Tuesday': 'Autoclave tips',
 'Wednesday': 'Clear bins',
 'Thursday': 'Refill MilliQ water tank'}

Be careful though, if a key alreayd exist, trying to add a new `key: item` pair with the same key will overwrite the previous item.

To concatenate two dictionaries, use the `dict.update()` function. The input argument must be a dictionary.

In [51]:
new_chores = {
    'Friday': "Buy beer for happy hour",
    'Saturday': "Hang over",
             }
chores.update(new_chores)
chores

{'Monday': 'Clean gel tank',
 'Tuesday': 'Autoclave tips',
 'Wednesday': 'Clear bins',
 'Thursday': 'Refill MilliQ water tank',
 'Friday': 'Buy beer for happy hour',
 'Saturday': 'Hang over'}

The same function can also be used to add a single key:item pair, making it a very versatile function. I prefer using it over the assignment method.

In [52]:
chores.update({'Sunday': "Do nothing"})
chores

{'Monday': 'Clean gel tank',
 'Tuesday': 'Autoclave tips',
 'Wednesday': 'Clear bins',
 'Thursday': 'Refill MilliQ water tank',
 'Friday': 'Buy beer for happy hour',
 'Saturday': 'Hang over',
 'Sunday': 'Do nothing'}

# Notes on doing basic maths
Simple addition, subtraction, multiplication is just like that of Excel

In [53]:
5 + 10 * 20

205

The above example takes only int as input and you get back an int as output. Put a float anywhere inside and you get back a float.

In [54]:
5.0 + 10 * 20

205.0

Whenever you do a division, you always get back a float, even if your inputs are all int and your dividend is divisible by your divisor:

In [55]:
100 / 10

10.0

The proper way to do power is not through the `^` sign, but rather, `**`

In [56]:
2^4

6

In [57]:
2 ** 4

16

# Basic string manipulation

String can be seen as list objects consisting of only characters, numbers and symbols. So, you can use some of the same functions from list on strings.

## Empty string

In [58]:
null_str = ""

## Concatenation

In [59]:
hello_world  = "Hello" + " " + "World"
hello_world

'Hello World'

## Substring using slice

In [60]:
hello_world[:5]

'Hello'

In [61]:
hello_world[-3:-1]

'rl'

## ~~`.append()`~~
Note that there is no such function `.append()` for str

In [62]:
hello_world.append(" Goodbye World")

AttributeError: 'str' object has no attribute 'append'

## `.split()`
The `.split()` function takes a user-determined delimiter, removes the delimiter from the str, and return the rest of the parts as a list.

In [63]:
hello_world.split(" ")

['Hello', 'World']

In [64]:
"University of Edinburgh".split(" ")

['University', 'of', 'Edinburgh']

The delimiter can be anything, so long as it is inside the str

In [65]:
split_str = "University of Edinburgh".split(" of ")
split_str

['University', 'Edinburgh']

The individual words/strings/stretches of characters can then be retrieved through the list's indicies

In [66]:
city_name = split_str[1]
city_name

'Edinburgh'

A combinatoin of double assignment and `.split()` works magic in Python.

In [67]:
my_name = "Trevor Ho"
first_name, last_name = my_name.split(" ")
first_name

'Trevor'

In [68]:
last_name

'Ho'

# Simple custom functions

The function in computer science has its roots in mathematical functions like y = f(x), y is output, f is the function name, x is the input. It is very similar in Python.

Example:

In [69]:
def divide(dividend, divisor):
    quotient = dividend / divisor
    return quotient

divide(1000,10)

100.0

function name: the name that is followed by parentheses and right after the reserved word `def`  
input: variables that are inside the parentheses, their proper name is **"arguments"**  
output: the varaible that follows after the reserved word `return`

the output (and hence `return`) is entirely optional if you just want the function to carry out something

**Important: notice that the lines below `def` are right indented. This is to tell Python that those lines belong to the function**

In [70]:
def divide(dividend, divisor):
quotient = dividend / divisor
return quotient

IndentationError: expected an indented block (<ipython-input-70-892f0500f8b6>, line 2)

An extremely important point is that **the order of arguments matters**:

In [71]:
divide(10,1000)

0.01

However, it is ok change the order if your specify what variables are meant for what arguments

In [72]:
divide(divisor=10, dividend=1000)

100.0

**Note: always write and debug your function without `def` and `return` first before encapsulating it with def and return.**

# For loop

For loop is used when you need to repeat blocks of code for a set number of times. 
The for loop is arguably the most important concept to master if you wish to make the most out of the robot.

Let's start with an example

In [73]:
for i in [1,2,3]:
    print("I should do my experiments")

I should do my experiments
I should do my experiments
I should do my experiments

The command `print()` was executed three times, because there are 3 items within the list of `[1,2,3]`  
Notice that it was indented and so was within the loop.

Simply iterating a fixed action isn't very helpful, but the for loop in Python is inherently built to be mutable at every iteration:

In [74]:
for well in ["A1", "B1", "C1"]:
    action = "Pipette water into well " + well
    print(action)

Pipette water into well A1
Pipette water into well B1
Pipette water into well C1

## `range()`

If you need to iterate your action 100 times, it would not make sense to manually create a list of 1 to 100.
The `range(start, stop, step)` function is very useful in this situation.

In [75]:
# Notice that the range function creates only a range object
x = range(1,10)
x

range(1, 10)

In [76]:
# To turn that into something useful, pass the range object into the list() function
list(x)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

Notice that the function does not stop at `10`, but rather, `9`. This is similar to the `:` operator in slicing a list. To obtain a list of numbers from 1 to 12, the correct input is `range(1,13)`

A combination of the `range()` function with a for loop then works magic.

In [77]:
for column in range(1,13): # by convention, variable names of i, j, k are very popular in for loop creation
    action = "Pipette water into column " + str(column) + " of the destination plate"
    print(action)

Pipette water into column 1 of the destination plate
Pipette water into column 2 of the destination plate
Pipette water into column 3 of the destination plate
Pipette water into column 4 of the destination plate
Pipette water into column 5 of the destination plate
Pipette water into column 6 of the destination plate
Pipette water into column 7 of the destination plate
Pipette water into column 8 of the destination plate
Pipette water into column 9 of the destination plate
Pipette water into column 10 of the destination plate
Pipette water into column 11 of the destination plate
Pipette water into column 12 of the destination plate

## Nested for loops

Sometimes we have loop in more than 1 dimension, e.g. Sample 1: pipette up and down 3 times, Sample 2: pipette up and down 3 times, Sample 3: pipette up and down 3 times.

To do this, it is helpful to put one for loop inside the other.

In [78]:
for sample in ["1", "2", "3"]:
    change_sample = "Switch to sample " + sample
    print(change_sample)
    for i in range(3):
        print("Pipette sample up and down")

Switch to sample 1
Pipette sample up and down
Pipette sample up and down
Pipette sample up and down
Switch to sample 2
Pipette sample up and down
Pipette sample up and down
Pipette sample up and down
Switch to sample 3
Pipette sample up and down
Pipette sample up and down
Pipette sample up and down

To further integrate the sample name and action step:

In [79]:
for sample in ["1", "2", "3"]:
    for i in range(3):
        action = "Pipette sample " + sample + " up and down"
        print(action)

Pipette sample 1 up and down
Pipette sample 1 up and down
Pipette sample 1 up and down
Pipette sample 2 up and down
Pipette sample 2 up and down
Pipette sample 2 up and down
Pipette sample 3 up and down
Pipette sample 3 up and down
Pipette sample 3 up and down

# If else statements (optional material)

## Comparison operators
They are used to compare two variables. Output is a boolean.

In [80]:
10 < 100

True

In [81]:
10 > 100

False

In [82]:
15 <= 15

True

**Comparison operator for checking equality is `==`. This often get mixed up with the assignment symbol `=`.**

In [83]:
'Python' == 'Python'

True

In [84]:
'Python' != 'Python'

False

Checking if item in lists and dictionaries

In [85]:
list1 = [1, 2, 3, 4, 5, 6, 7, 8]
3 in list1

True

In [86]:
9 in list1

False

In [87]:
chores

{'Monday': 'Clean gel tank',
 'Tuesday': 'Autoclave tips',
 'Wednesday': 'Clear bins',
 'Thursday': 'Refill MilliQ water tank',
 'Friday': 'Buy beer for happy hour',
 'Saturday': 'Hang over',
 'Sunday': 'Do nothing'}

In [88]:
'Monday' in chores

True

In [89]:
'March' in chores

False

## Logical operators

In [90]:
True and True

True

In [91]:
True and False

False

In [92]:
True or False

True

In [93]:
not True

False

In [94]:
8 >= 9 and 10 <= 11

False

In [95]:
8 >= 9 or 10 <= 11

True

In [96]:
8 >= 9 or not (10 <= 11)

False

## If else examples

In [97]:
fluo1 = 16
fluo2 = 20
if fluo1 == fluo2:
    print("Same")
else:
    print("Different")

Different

In [98]:
if fluo1 == fluo2:
    print("Same")
elif fluo1 > fluo2:
    print("Fluo1 larger")
else:
    print("Fluo2 larger")

Fluo2 larger

**Indentation is important**

In [99]:
if fluo1 == fluo2:
    print("Same")
    elif fluo1 > fluo2:
        print("Fluo1 larger")
    else:
        print("Fluo2 larger")

SyntaxError: invalid syntax (<ipython-input-99-9d4b7f21bf49>, line 3)

# A superficial introduction to the concept of Object-Oriented Programming (OOP)

The idea of OOP is to make virtual objects inside the computer and let them interact with each other, or ask them to do something.

A good cartoon illustration is available on a [page](https://www.freecodecamp.org/news/object-oriented-programming-concepts-21bb035f7260/) written by FreeCodeCamp. Let's scroll until you see a cat.

The most important concept is that most virtual objects are like an object in real life: each has some properties (e.g. breed, color, gender, height, weight, etc.) and is able do something (e.g. meow, eat, sleep, etc)

Objects' properties are coded by variables within an object. In Python, they are accessed as `object.var`.  
For example, `cat.breed`  

Objects' abilities to do something are executed via methods. In Python, they are accessed as `object.method()`.  
For example, `cat.eat()`

Take home messages:
1. If you see `sth.xyz`, without parentheses behind, `xyz` is a variable/attribute/property of the object. 
2. If you see `sth.xyz()`, `xyz()` is a method that is part of the "innate" abilities of the object to do something.  
3. Objects themselves can act on other objects, i.e. when an object is an argument of a method of another object.

Superficially, the terms "properties", "attributes" and "fields" are often used interchanagbly. One can also view "functions" and "methods" in a similary manner, though methods and functions are technically distinct.

The following is an example of creating objects of humans and viruses to see if the humans with some properties (`age`) can survive an infection `.infect()` by a virus:

In [100]:
# Make templates for objects (Ignore this part)

class Person:
    
    name = ""
    hp = 0
    age = 0
    status = "alive"
    
    def __init__(self, name, hp, age):
        self.name = name
        self.hp = hp
        self.age = age
        self.status = "alive"
        
    def set_status(self):
        if self.hp <= 0:
            self.status = "dead"
        
class Virus:
    
    lethality = 0
    
    def __init__(self, lethality):
        self.lethality = lethality
        
    def infect(self,person):
        person.hp = person.hp - person.age * self.lethality
        person.set_status()

# Create objects

patient1 = Person(name = "Alexander", hp = 1000, age = 50)
patient2 = Person(name = "Beth", hp = 9000, age = 25)
patient3 = Person(name = "Chris", hp = 5000, age = 17)
patient4 = Person(name = "Dorothy", hp = 7000, age = 90)

corona = Virus(lethality = 100)

# Let objects take action

corona.infect(patient1)
corona.infect(patient2)
corona.infect(patient3)
corona.infect(patient4)

# Get the outcomes

for patient in [patient1, patient2, patient3, patient4]:
    outcome = patient.name + " is " + patient.status
    print(outcome)

Alexander is dead
Beth is alive
Chris is alive
Dorothy is dead

# Final remarks (that we cannot cover today)

1. When you are stuck, Google. Chances are there is someone who had the same issue as you do and his/her question is answered on Stack Overflow.

2. There is an [official guide](https://www.python.org/dev/peps/pep-0008) in Python on how to style your code to improve readibility. As you code more and more frequently you will find this useful.

3. Learning how to read documentation of libraries / codes written by others will grant you the ability to learn how to code on your own.

4. Properly document your code will make them useful to yourself and others in the long run.